:root {
  --cor0: #1e1b2f;  /* background */
  --cor1: #2d253f;  /* container */
  --cor2: #3f2e56;  /* border container */
  --cor3: #dcb7e0;  /* texto */
  --cor4: #3f2e56;  /* input */
  --cor5: #59406f;  /* border input */
  --cor6: #7b3b8c;  /* botão */
  --cor7: #592c66;  /* border botão */
  --cor8: #00000080;  /* shadow */
  --cor9: #28866f;  /* verde ganho */
  --cor10: #194d3f; /* border verde */
  --cor11: #b64358; /* vermelho gasto */
  --cor12: #772737; /* border vermelho */
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5em;
  color: var(--cor3);
  
  overflow-x: hidden;
  background-color: var(--cor0); 
}

h1 {  /* Controle Financeiro */
  text-align: center;

  color: var(--cor3);
  text-decoration: underline;
  text-shadow: 1px 1px 3px var(--cor8); 
}

#loginContainer {  /* Login container */
  margin: 140px auto;
  padding: 30px;
  width: 80%;
  max-width: 400px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
  border: 1px solid var(--cor2);
  border-radius: 20px;
  box-shadow: 3px 3px 8px var(--cor8);
  background-color: var(--cor1); 
}

#loginContainer h2 {
  color: var(--cor3);
}

#loginContainer input {
  margin-bottom: 20px;
  padding: 10px 0;
  width: 100%;
  
  text-align: center;
  font-size: 1em;
  border: 1px solid var(--cor5);
  border-radius: 10px;
  color: var(--cor3);  /* cor da letra ao digitar */
  background-color: var(--cor4); 
}

#loginContainer input::placeholder {
  color: var(--cor3); 
}

#loginContainer button {
  margin: auto;
  padding: 10px 22px;
  
  display: block;
  
  font-size: 1em;
  cursor: pointer;
  border: 1px solid var(--cor7);
  border-radius: 10px;
  color: var(--cor3);
  background-color: var(--cor6);
}

#loginContainer button:hover {
  transition: background-color 0.5s;
  background-color: var(--cor7);
}

#appContainer {  /* Container primário */
  display: block;
}

.container {  /* Container principal */
  margin: auto;
  padding: 20px;
  width: 89vw;
  max-width: 780px;
  
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  
  border: 1px solid var(--cor2);
  border-radius: 30px;
  background-color: var(--cor1);
  box-shadow: 5px 5px 10px var(--cor8);
}

.entradas {  /* Container entradas */
  margin: 30px 10px 20px 10px;
  
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.entradas input {
  padding: 10px;
  min-width: 140px;

  flex: 1; /* Asterisco */
  
  font-size: 1em;
  text-align: center;
  color: var(--cor3);
  border: 1px solid var(--cor5);
  border-radius: 15px;
  background-color: var(--cor4);
}

.entradas input::placeholder {
  color: var(--cor3);
}

.botoes {  /* Container botões */
  margin: 20px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.botoes button {
  height: 50px;
  padding: 10px;
  
  text-align: center;
  cursor: pointer;
  font-size: 0.8em;
  border: 1px solid var(--cor8);  /* cor irrelevante */ 
  border-radius: 10px;
  color: var(--cor3);
}

#ganho {
  border-color: var(--cor10);
  background-color: var(--cor9); 
}

#ganho:hover {
  transition: 0.5s;
  transform: scale(1.05);
  background-color: var(--cor10);
  box-shadow: 5px 5px 10px var(--cor8);
}

#gasto {
  border-color: var(--cor12);
  background-color: var(--cor11); 
}

#gasto:hover {
  transition: 0.5s;
  transform: scale(1.05);
  background-color: var(--cor12);
  box-shadow: 5px 5px 10px var(--cor8);
}

.controle-mes {  /* Container mês */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

h2 {  /* Mês */
  margin-top: 20px;
  
  text-align: center;
  font-size: 1.3em;
  text-decoration: underline;
  color: var(--cor3);
}

.controle-mes button {
  padding: 8px 11px;

  cursor: pointer;
  font-size: 1.2em;
  color: var(--cor3);
  border: 1px solid var(--cor5);
  border-radius: 10px;
  background-color: var(--cor4);
}

.controle-mes button:hover {
  transition: background-color 0.5s;
  background-color: var(--cor5);
}

#resumo {  /* Container resumo */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

#resumo p {
  margin: 5px;
  padding: 10px;

  font-size: 0.6em;
  color: var(--cor3);
  border: 1px solid var(--cor5);
  border-radius: 10px;
  background-color: var(--cor4);
}

#graficoPizza {
  padding: 0;
  max-width: 100%;
  max-height: 300px;
  display: block;
}

ul {  /* Lista */
  padding: 0;
  margin: 0;
  list-style: none;
}

li {  /* Itens da lista */
  padding: 10px 15px;
  margin-top: 8px;
  width: 100%;

  display: flex;
  flex-flow: row nowrap; 
  justify-content: space-between;
  align-items: center;
  gap: 10px;  /* gap entre texto e botão delete */
  box-sizing: border-box;
  
  font-size: 0.6em;
  color: var(--cor3);
  border: 1px solid var(--cor8);
  border-radius: 15px;
  
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.9s ease forwards;
  overflow: hidden;
}

.descricao-transacao {  /* Texto da li */
  padding-right: 10px;
  
  display: block;
  flex-grow: 1;
  
  overflow-x: auto;
  white-space: nowrap;
  text-overflow: unset;
}

li.gasto {
  background-color: var(--cor11);
}

li.ganho {
  background-color: var(--cor9);
}

button.delete {
  width: 50px;
  height: 30px;
  
  flex-shrink: 0;

  cursor: pointer;
  color: var(--cor3);
  border: 1px solid var(--cor5);
  border-radius: 6px;
  background-color: var(--cor4);
}

button.delete:hover {
  background-color: var(--cor12);
}

#usuarioAtual {
  margin-right: 10px;

  font-weight: bold;
  color: var(--cor3);
  font-size: 0.8em;
}

#appContainer button[onclick*="fazerLogout"] {  /* Botão de logout */
  padding: 5px 10px;

  cursor: pointer;
  font-size: 0.8em;
  color: var(--cor3);
  border: 1px solid var(--cor12);
  border-radius: 6px;
  background-color: var(--cor11); 
}

#appContainer button[onclick*="fazerLogout"]:hover {
  transition: background-color 0.5s;
  background-color: var(--cor12);
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
